/* @override 
	http://fonetik.net/stylesheets/bici.css
*/

body {
	background: #474747 url('http://static.tumblr.com/3znrysj/PYxkzldxh/bg.jpg') top center repeat-y;
	margin: 0;
	padding: 0;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	width: 100%;
	min-width: 860px;
}

a {
	color: #ff901f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
	height: 1px;
}

a img {
	border: none;
}

.center {
	text-align: center;
}

#title {
	margin: 26px 0 26px;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: #2f2f2f 1px 3px 5px;
	letter-spacing: -1px;
	text-align: center;
}

#title a {
	color: #fff;
	text-decoration: none;
}

#top_nav {
	color: #aaa;
	font: 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
}

#top_nav a {
	color: inherit;
	text-decoration: underline;
}

#top_nav a:hover {
	text-decoration: none;
}

#site_nav {
	background-color: #f0f0f0;
	color: #696969;
	font: 22px Georgia, "Times New Roman", Times, serif;
	margin: 0;
	height: 35px;
	padding: 10px 0 0;
	position: relative;
	z-index: 10;
}

.bottom {
	background: transparent url('http://assets.tumblr.com/themes/redux/shadow-post.png') repeat-x top center;
	height: 18px;
	margin: 0 auto;
	position: relative;
}

#site_nav a {
	color: inherit;
	text-decoration: none;
}

#pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#pages li {
	display: inline-block;
	margin-right: 20px;
}

#pages li:hover {
	color: #00a9aa;
}

#pages li.selected {
	color: #fff;
	background-color: #a9a9a9;	
}

#left_ribbon {
	float: left;
	width: 50%;
	margin-right: -430px;
}

#right_ribbon {
	float: right;
	width: 50%;
	margin-left: -430px;
}

#left_ribbon .bottom {
	margin-right: 430px;
}

#right_ribbon .bottom {
	margin-left: 430px;
}

#left_ribbon .turquois {
	height: 26px;
	background: #00a9aa;
	margin-right: 430px;
	opacity: 0.9;
	margin-top: -10px;
}

#right_ribbon .turquois {
	height: 26px;
	background: #00a9aa;
	margin-left: 430px;
	opacity: 0.9;
	margin-top: -10px;
}

#left_ribbon .orange {
	height: 20px;
	background-color: #ff901f;
	margin-right: 430px;
	opacity: 0.9;
	margin-top: -12px;
}

#right_ribbon .orange {
	height: 20px;
	background-color: #ff901f;
	margin-left: 430px;
	opacity: 0.9;
	margin-top: -12px;
}

#wrapper {
	background-color: #fff;
	width: 860px;
	float: left;
	margin: -75px 0 0;
	padding: 60px 0;
}

#wrapper_bottom {
	width: 860px;
	clear: both;
}

#content {
	width: 500px;
	margin: 10px 20px 20px;
	float: left;
	color: #666666;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#content .post {
	position: relative;
	padding: 0;
	margin-top: 80px;
}

#content .post:first-child {
	margin-top: 0px;
}

#content .post .media {
	text-align: center;
	margin-bottom: 10px;
}

#content .post .quotebg {
	font-family: georgia, serif;
	font-size: 150px;
	color: #666666;
	opacity: 0.2;
	filter: alpha(opacity=20);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	position: absolute;
	top: 70px;
	left: 10px;
}

#content .post .quote {
	color: #666666;
	font-weight: bold;
	padding: 20px 20px 5px 20px;
}

#content .post .quote.short {
	font-size: 33px;
	line-height: 35px;
}

#content .post .quote.medium {
	font-size: 25px;
	line-height: 28px;
}

#content .post .quote.long {
	font-size: 18px;
	line-height: 22px;
}

#content .post .quote_source *:first-child {
	margin-top: 0px;
}

#content .post .quote_source *:last-child {
	margin-bottom: 0px;
}

#content .post .quote *:first-child {
	margin-top: 0px;
}

#content .post .quote *:last-child {
	margin-bottom: 0px;
}

#content .post .copy {
	color: #666666;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    line-height: 140%;
    margin: 0;
	padding: 0;
}

#content .post .copy p {
	margin: 0 0 20px;
	padding: 0;
}

#content .post .copy h3 {
	color: #00a9aa;
	font: 20px Georgia, "Times New Roman", Times, serif;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

#content .post .copy > p:first-child {
	margin-top: 0;
}

#content .post .copy img {
	max-width: 100%;
	margin-left: 10px;
}

#content .post .audio {
	background: #eaeaea;
	float: left;
	padding: 7px;
	margin-bottom: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#content .post .audio .player {
	float: left;
}

#content .post .audio .player .audio_player embed {
	border: 1px solid #c8c8c8;
}

#content .post .audio .meta {
	padding: 8px 13px;
	height: 13px;
	float: left;
	color: #666;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 11px;
}

#content .post .album_art {
	text-align: center;
}

#content .post .question {
	color: #494949;
	font-size: 16px;
	font-weight: bold;
	background: #f1f1f1;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 0 0 15px 0;
	padding: 15px 20px;
	position: relative;
}

#content .post .question .nipple {
	width: 13px;
	height: 7px;
	background: #f1f1f1 url('http://static.tumblr.com/thpaaos/wqzkvsd69/mask_ask.png');
	position: absolute;
	bottom: -7px;
	left: 30px;
}

#content .post .asker_container {
	margin: 0 0 20px 24px;
}

#content .post .asker_container img {
	margin: 0 12px -7px 0;
}

#content .post .asker_container a.asker {
	color: ;
}

#content .post h2.title {
	padding: 0;
	margin: 0;
	color: #5f5f5f;
	font-family: Geneva, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: lighter;
}

#content .post hr {
	border: none;
	border-bottom: 2px solid #d6d6d6;
}

#content .post img {
	max-width: 500px;
}

#content .post .chat {
	background-color: #fff;
	border-left: 5px solid #dedddd;
	margin: 10px 10px 0 10px;
	font-size: 14px;
}

#content .post .chat .lines {
	margin-left: 1px;
}

#content .post .chat .lines .line {
	background-color: #eaeaea;
	color: #494949;
	margin-bottom: 1px;
	padding: 3px 5px;
}

#content .post .chat .lines .line.even {
	background-color: #dedddd;
}

#content .post .link {
	margin: 4px 0 2px 0;
	font-size: 16px;
	line-height: 25px;
}

#content .post .link a {
	background-color: #3b627e;
	color: #fff;
	padding: 5px 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#content .post .link a:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#content .post .footer {
	background: #eaeaea;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 11px;
	color: #666;
	padding: 5px 10px;
	margin-top: 10px;
}

#content .post .footer:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#content .post .footer .date {
	width: 67%;
	float: left;
	color: #666;
}

#content .post .footer .notes {
	width: 33%;
	float: right;
	text-align: right;
	color: #666;
}

#content .post .footer .notes a {
	color: #666;
}

#content .post .footer .tags a {
	text-decoration: underline;
}

#content .post .footer .tags .tag-commas:last-child {
	display: none;
}

#content .post .copy blockquote {
	margin: 10px 0px 10px 10px;
	padding-left: 15px;
	border-left: solid 4px #dcdcdc;
}

#content .post .copy blockquote blockquote {
	border-left: solid 4px #cccccc;
}

#content .post .copy blockquote blockquote blockquote {
	border-left: solid 4px #bcbcbc;
}

#content .post .copy blockquote blockquote blockquote blockquote {
	border-left: solid 4px #acacac;
}

#content .post .copy blockquote blockquote blockquote blockquote blockquote {
	border-left: solid 4px #9c9c9c;
}

#content .post .copy blockquote blockquote blockquote blockquote blockquote blockquote {
	border-left: solid 4px #8c8c8c;
}

#content .bottom {
	background: url('http://assets.tumblr.com/themes/redux/shadow-post.png') top center no-repeat transparent;
	width: 513px;
	height: 40px;
	margin: 0 auto;
}

#content #navigation {
	text-align: right;
	padding-bottom: 35px;
}

#content #navigation a {
	background-color: #fff;
	color: #3b627e;
	padding: 5px 10px;
	text-decoration: none;
	margin-left: 25px;
}

#content #navigation a:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#content .post .notecontainer {
	background: #eaeaea;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size: 11px;
	color: #666;
	margin-top: 10px;
	margin-bottom: -10px;
}

#content .post .notecontainer a {
	color: #666;
	text-decoration: underline;
}

#content .post .notecontainer ol.notes {
	padding: 0px 0 10px 0;
	list-style-type: none;
	font-size: 11px;
}

#content .post .notecontainer ol.notes li.note {
	padding: 10px 10px 0 10px;
}

#content .post .notecontainer ol.notes li.note img.avatar {
	vertical-align: -4px;
	margin-right: 10px;
	width: 16px;
	height: 16px;
}

#content .post .notecontainer ol.notes li.note span.action {
	font-weight: normal;
}

#content .post .notecontainer ol.notes li.note .answer_content {
	font-weight: normal;
}

#content .post .notecontainer ol.notes li.note blockquote {
	border-left: 2px solid #666;
	padding: 4px 10px;
	margin: 10px 0px 0px 25px;
}

#content .post .notecontainer ol.notes li.note blockquote a {
	text-decoration: none;
}

#content #searchresults {
	color: #fff;
	margin: 0 0 15px 0;
	text-shadow: #2f2f2f 1px 3px 5px;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 20px;
}

#sidebar {
	width: 250px;
	float: right;
	margin: 10px;
	color: #666666;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#sidebar #top {
	padding: 0 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#sidebar #top #search {
	background: #fff;
	border: 1px solid #666666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: 5px;
}

#sidebar #top #search form {
	margin: 0;
}

#sidebar #top #search form .query {
	padding: 5px;
	border: none;
	background: transparent;
	outline: none;
	width: 125px;
	float: left;
	color: #666666;
}

#sidebar #top #search form .submit {
	background: #666666;
	color: #fff;
	border: none;
	padding: 5px 7px;
	margin: 3px 3px 2px 0;
	float: right;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

#sidebar #top #search form .submit:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#sidebar #top #buttons {
	padding: 20px 0 0 0;
}

#sidebar #top #buttons .button {
	width: 35%;
	height: 21px;
	float: left;
	background: left center no-repeat transparent;
	padding: 2px 0 0 30px;
	font-size: 14px;
}

#sidebar #top #buttons a {
	color: #666666;
	text-decoration: none;
}

#sidebar #top #buttons div {
	padding-bottom: 10px;
}

#sidebar #top #buttons .button#button-rss {
	background-image: url('http://assets.tumblr.com/themes/redux/button-rss.png?2');
}

#sidebar #top #buttons .button#button-random {
	background-image: url('http://assets.tumblr.com/themes/redux/button-random.png?2');
}

#sidebar #top #buttons .button#button-archive {
	background-image: url('http://assets.tumblr.com/themes/redux/button-archive.png?2');
}

#sidebar #top #buttons .button#button-mobile {
	background-image: url('http://assets.tumblr.com/themes/redux/button-mobile.png?2');
}

#sidebar #top #description {
	font-size: 13px;
	margin-top: 10px;
}

#sidebar #top .heading {
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 17px;
	margin-top: 20px;
	padding: 10px;
	background-color: #666666;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#sidebar #top a .heading {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#sidebar #top .heading#twitter {
	background: url('http://assets.tumblr.com/themes/redux/sidebar-twitter.png') right center no-repeat #666666;
}


/*
Images are wrapped in divs classed "flickr_badge_image" with ids "flickr_badge_imageX" where "X" is an integer specifying ordinal position. Below are some styles to get you started!
*/
#flickr_badge_uber_wrapper {

}

#flickr_badge_wrapper {
	padding: 10px 0 10px 0;
	text-align: center;
}

.flickr_badge_image {
	margin-top: 0;
	margin-bottom: 10px;
}

.flickr_badge_image img {
	border: 5px solid #fff !important;
}

#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	text-decoration:none !important;
	background:inherit !important;
	color:#3993ff;
}

#sidebar #top .content {
	margin-top: 2px;
	padding: 7px 10px;
	background: #eaeaea;
	color: #666;
	font-size: 11px;
	overflow: hidden;
}

#sidebar #top .heading:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

#sidebar #top #following-avatars.content {
	padding: 4px;
}

#sidebar #top #following-avatars.content a img {
	margin: 4px;
}

#sidebar #bottom {
	background: url('http://assets.tumblr.com/themes/redux/sidebar-bottom.png') top center no-repeat transparent;
	width: 250px;
	height: 25px;
}

#bottom_info {
	height: 24px;
	top: -80px;
	padding-top: 8px;
	background-color: #f0f0f0;
	font: 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #797979;
	position: relative;
	z-index: 10;
}

#bottom_bottom {
	position: relative;
	top: -80px;
}

#bottom_info a {
	color: #666666;
	text-decoration: underline;
}

#bottom_info a:hover {
	text-decoration: none;
}

.copyright {
	color: #aaa;
	font: 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-top: -50px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.copyright a {
	color: inherit;
	text-decoration: none;
}

.copyright a:hover {
	text-decoration: underline;
}

